<div class="layout-vertical container-under-banner">
    <div class="layout-horizontal menu">
        <app-menu></app-menu>
    </div>
    <div class="layout-horizontal sub-menu">
        <app-sub-menu></app-sub-menu>
    </div>
    <div class="layout-horizontal content-container">
        <div class="layout-vertical header">
            <app-header></app-header>
        </div>
        <div class="layout-vertical">
            <app-content-pane></app-content-pane>
        </div>
    </div>
</div>
